.projects-box {
  display: flex;
  flex-direction: column;
  padding-bottom: 5%; }

.projects-container {
  /*position: absolute;*/
  display: flex;
  flex-direction: column;
  margin-top: 260px;
  /*change margin to non percentage*/
  align-items: center;
  width: 70%;
  margin-left: 15%; }

.project-instance {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap; }
  .project-instance p {
    font-family: roboto-mono;
    color: #B24800; }
  .project-instance h2 {
    font-family: roboto-mono;
    font-size: 28px; }
  .project-instance h4 {
    font-family: roboto;
    color: aqua; }
  @media all and (max-width: 500px) {
    .project-instance p {
      max-width: 80%; }
    .project-instance h2 h4 {
      max-width: 80%; } }
