$primary-color: #00EFFF;
$secondary-color: #B24800;

h4 {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  letter-spacing: 2px;
  color: $secondary-color;
  font-family: roboto;
  font-weight: bold;
}

h1 {
  padding: 0px;
  margin: 0px;
  font-size: 58px;
  letter-spacing: 4px;
  color: beige;
  font-family: roboto-mono;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: $primary-color;
  font-size: 18px;
}
.landing-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin-left: 15%;
  margin-top: 20%;
  @media all and (max-width: 500px) {
    text-align: center;
  }
}

.customNav {
  width: 50%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  font-family: roboto-mono;
  a {
    font-size: 28px;
  }
  a:hover {
    font-size: 30px;
    border: 1px solid $secondary-color;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;

  }
  @media all and (max-width: 500px) {
    flex-direction: column;
    align-items: center;
  }
}

// .customNav a {
// }
